<table class="table table-bordered">
    <tbody>
        <tr>
            <td colspan="2">出税登记</td>
            <td>登记人：{{ request.user.first_name }}</td>
        </tr>
        <tr>
            <td>
                <label for="step5_out_tax_money">金额：</label>
                <input type="number" id="step5_out_tax_money" class="input-sm" />
            </td>
            <td>
                <label for="step5_out_tax_time">出税时间：</label>
                <input type="date" id="step5_out_tax_time" class="input-sm" />
            </td>
            <td>
                <label for="step5_out_tax_file">税单：</label>
                <input type="hidden" id="step5_out_tax_file" />
                <i class="fa fa-file-o" id="step5_out_tax_upload"></i>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">
                <button type="button" id="state12_save" class="btn btn-info">保存</button>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <tbody>
    <tr>
        <td colspan="2">垫税登记</td>
        <td>登记人：{{ request.user.first_name }}</td>
    </tr>
    <tr>
        <td>
            <label for="step5_mat_tax_agency">代理公司：</label>
            <select id="step5_mat_tax_agency"  class="input-sm" >
                <option value="">请选择</option>
                {% for item in agency_list %}
                    <option value="{{ item.id }}" {% if step5.mat_tax_agency_id == item.id %}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="step5_mat_tax_money">金额：</label>
            <input type="number" id="step5_mat_tax_money" class="input-sm" />
        </td>
        <td>
            <label for="step5_mat_tax_file">税单：</label>
            <input type="hidden" id="step5_mat_tax_file" />
            <i class="fa fa-file-o" id="step5_mat_tax_upload"></i>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="text-right">
            <button type="button" id="state12_2_save" class="btn btn-info">保存</button>
        </td>
    </tr>
    </tbody>
</table>