<table class="table table-bordered">
    <tbody>
        <tr>
            <td colspan="2">海运费</td>
            <td>登记人：{{ request.user.first_name }}</td>
        </tr>
        <tr>
            <td><label for="step4_shipping_obj">付款对象：</label>
                <select id="step4_shipping_obj" class="input-sm">
                    <option value="">请选择</option>
                    {% for item in shipping_list %}
                        <option value="{{ item.id }}" {% if step4.shipping_obj_id == item.id %} selected{% endif %}>
                            {{ item.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><label for="step4_shipping_money">海运费金额：</label>
                <input type="text" id="step4_shipping_money" class="input-sm" />
            </td>
            <td><label for="step4_shipping_second_money">转港费用：</label>
                <input type="text" id="step4_shipping_second_money" class="input-sm" />
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">
                <button type="button" id="state7_save" class="btn btn-info">保存</button>
            </td>
        </tr>
    {% include 'carsales/edit/step_4_pay.html' %}
    {% include 'carsales/edit/step_4_2_pay.html' %}
    </tbody>
</table>