<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>报关阶段(第五阶段)</b>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
{#                   {% include 'carsales/edit/state_8.html' %}#}
{#                {% include 'carsales/info/state_8.html' %}#}
{#                {% include 'carsales/edit/state_9.html' %}#}
{#                {% include 'carsales/info/state_9.html' %}#}
{#                {% include 'carsales/edit/state_10.html' %}#}
{#                {% include 'carsales/info/state_10.html' %}#}
{#                {% include 'carsales/edit/state_11.html' %}#}
{#                {% include 'carsales/info/state_11.html' %}#}
{#                {% include 'carsales/edit/state_12.html' %}#}
{#                {% include 'carsales/info/state_12.html' %}#}
{#                {% include 'carsales/edit/state_13.html' %}#}
{#                {% include 'carsales/info/state_13.html' %}#}
{#                {% include 'carsales/edit/state_14.html' %}#}
{#                {% include 'carsales/info/state_14.html' %}#}
{#                {% include 'carsales/edit/state_15.html' %}#}
{#                {% include 'carsales/info/state_15.html' %}#}
                {% include 'carsales/edit/state_16.html' %}
                {% include 'carsales/info/state_16.html' %}
            </div>
        </div>
    </div>
</div>