<table class="table table-bordered">
    <tbody>
        <tr>
            <td colspan="2">报关完成登记</td>
            <td>登记人：{{ step5.end_tax_registrant.first_name }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <label>登记时间：</label>
                {{ step5.end_tax_time }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>问题备注：</label><br>
                {{ step5.end_tax_remark }}
            </td>
        </tr>
    </tbody>
</table>